USE [BancoSQLServer]
GO
/****** Object:  Table [dbo].[Portal_IBGE]    Script Date: 22/07/2020 23:57:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Portal_IBGE](
	[ID_IBGE] [int] NOT NULL,
	[VC_IBG_CIDADE] [varchar](120) NULL,
	[NU_IBG_UF] [int] NULL,
	[VC_IBG_COD] [varchar](20) NULL,
	[VC_IBG_UF] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_IBGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Portal_IBGE] ([ID_IBGE], [VC_IBG_CIDADE], [NU_IBG_UF], [VC_IBG_COD], [VC_IBG_UF]) VALUES (1, N'Afonso Cláudio', 8, N'3200102', N'ES')
INSERT [dbo].[Portal_IBGE] ([ID_IBGE], [VC_IBG_CIDADE], [NU_IBG_UF], [VC_IBG_COD], [VC_IBG_UF]) VALUES (2, N'Água Doce do Norte', 8, N'3200169', N'ES')
INSERT [dbo].[Portal_IBGE] ([ID_IBGE], [VC_IBG_CIDADE], [NU_IBG_UF], [VC_IBG_COD], [VC_IBG_UF]) VALUES (3, N'Águia Branca', 8, N'3200136', N'ES')
GO
ALTER TABLE [dbo].[Portal_IBGE] ADD  DEFAULT (NULL) FOR [VC_IBG_CIDADE]
GO
ALTER TABLE [dbo].[Portal_IBGE] ADD  DEFAULT (NULL) FOR [NU_IBG_UF]
GO
ALTER TABLE [dbo].[Portal_IBGE] ADD  DEFAULT (NULL) FOR [VC_IBG_COD]
GO
ALTER TABLE [dbo].[Portal_IBGE] ADD  DEFAULT (NULL) FOR [VC_IBG_UF]
GO
